html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  line-height: 1.4;
  margin: 0;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: lighter;
  margin: 0;
}

p {
  margin: 0 0 30px;
}

a {
  text-decoration: none;
}

textarea,
button,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
  font-size: 100%;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
  vertical-align: middle;
}

.container {
  position: relative;
  background-color: #607D8B;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.title {
  font-size: 1.8em;
  color: #fff;
  text-align: center;
  padding: 20px 20px 0;
}

.province-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
  opacity: 0.2;
  display: none;
}

.province-img.is-active {
  display: block;
}

.svg-map {
  position: relative;
  width: auto;
  max-width: 100%;
  height: 90vh;
  margin: 0 auto;
  padding: 30px 10px;
  display: block;
}

.svg-map path {
  fill: transparent;
  stroke: #fff;
}

.is-active-area path {
  stroke: #00BCD4;
  fill: #00BCD4;
  fill-opacity: 0.2;

}

.is-active-area .hotspot {
  display: none;
}

.province-symbol {
  display: none;
}

.hotspot {
  fill: #00BCD4;
  stroke: none;
  cursor: pointer;
  animation: opacity-change 1.5s infinite ease-out forwards;
}

@keyframes opacity-change {
  0%   { opacity: 1; }
  50%   { opacity: 0.2; }
  100% { opacity: 1; }
}

.btn-close {
  position: absolute;
  top: 30px;
  right: 20px;
  z-index: 2;
  transform: scale(1.5);
}

.btn-close.is-hidden {
  display: none;
}

.copy-right {
  font-size: 0.8em;
  color: #95C2D7;
  text-align: center;
  padding: 0 20px;
}

.copy-right__link {
  opacity: 1;
  color: inherit;
  text-decoration: underline;
}
